<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Cashflow Calculator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/alertify.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/alertify.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/semantic.min.css" />
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.11.0/build/css/themes/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script src="app.module.js"></script>

</head>
<body ng-app="cashflowCalculatorApp" ng-controller="LoanController as model" id="top">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <h1>Cashflow Calculator<br><small> Written by Syed Usama Amer</small></h1>
            </div>
            <br> <br>
            <div class="col-sm-6">
                <p> <em> Please enter the details of your loan in the fields below and click the
                    submit button. </em></p>
                <form name="inputform">
                    Balance:<br>
                    <input type="number" name="balance" ng-model="Amount" ng-required="true"><br>
                    Term:<br />
                    <input type="number" name="term" ng-model="Duration" ng-required="true"><br />
                    Interest Rate:<br />
                    <input type="number" name="rate" ng-model="Rate" ng-required="true" /><br />
                    <br><br>
                    <button class="btn btn-success" ng-click="inputform.$valid && model.inputLoan(Amount, Duration, Rate)">Submit</button>
                    <br><br>
                </form>



                <div data-ng-init="model.getLoans()">
                    <div>
                        <p>
                            <em>
                                In order to generate a table of loans currently stored in the SQL Database,
                                please click the get loans button.
                            </em>
                        </p>
                        <button class="btn btn-success" ng-click="loansCollapsed = !loansCollapsed" t>Get Loans</button>
                        <br> <br>
                        <p>
                            <em>
                                In order to generate a pool of cashflows for all
                                loans currently stored in the SQL Database,
                                please click the get cashflows button.
                            </em>
                        </p>
                        <button class="btn btn-success" ng-click="model.getCashFlows()">Get Cashflows</button>
                        <a href="#mid">Go to top of pool</a>
                        <br> <br>
                    </div>
                </div>
                <div collapse="!loansCollapsed">
                    <form ng-submit="model.deleteLoans()">
                        <p> <em> In order to select the loans you want to delete, please check the
                             desired box(s) in the table and click on the delete button.</em></p>
                        <button class="btn btn-success" type="submit">Delete</button>
                        <br> <br>
                        <table class="table">
                            <tr>
                                <th>To Delete</th>
                                <th>Amount</th>
                                <th>Duration</th>
                                <th>Rate</th>
                            </tr>
                            <tr ng-repeat="loan in model.loans">
                                <td><input type="checkbox" ng-model="loan.isChecked"></td>
                                <td>{{loan.amount | currency}}</td>
                                <td>{{loan.duration}}</td>
                                <td>{{loan.rate | number:2}}%</td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <div>
                <br>
                <!--<button class="btn btn-success" ng-click="model.getCashFlows()">Get Cashflows</button>-->
                <div ng-repeat="cashFlow in model.cashFlows">
                    <table class="table">
                        <tr id="mid">
                            <th>Month</th>
                            <th>Interest</th>
                            <th>Principal</th>
                            <th>Remaining Balance</th>
                        </tr>
  
                        <tr ng-repeat="monthlyPayment in cashFlow.monthlyPayments">
                            <td>{{monthlyPayment.month}}</td>
                            <td>{{monthlyPayment.interest | number:2}}%</td>
                            <td>{{monthlyPayment.principal | currency}}</td>
                            <td>{{monthlyPayment.remainingBalance | currency}}</td>
                        </tr>
                    </table>
                    <a href="#top">Back to top of page</a>
                </div>
            </div>
        </div>
        </div>

</body>
</html>


