<div data-ng-init="$ctrl.getLoans()">
    <button class="btn btn-success" ng-click="submitCollapsed = !submitCollapsed">Enter Loan</button>
    <div collapse="!submitCollapsed">
        <form ng-submit="$ctrl.addLoan()">
            <input type="text" placeholder="balance" required ng-model="$ctrl.loan.balance" />
            <input type="text" placeholder="term" required ng-model="$ctrl.loan.term" />
            <input type="text" placeholder="rate" required ng-model="$ctrl.loan.rate" />
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>
